<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
    <key>NSFamilyControlsDescription</key>
    <string>Haru needs access to Screen Time data to compare usage with friends for the screen time competition.</string>
</dict>
</plist>
